@import "tailwindcss";

 html{
    scroll-behavior: smooth;
 } 



@layer utilities {
  .animate-blob {
    animation: blob 10s infinite;
  }

  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }

   .clip-path-custom2 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
  }

  .clip-path-custom3 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 97%, 0 100%);
  }
}
.bg-skills-gradient {
    background-image: linear-gradient(38.73deg,#cc00bb26,#c920b800 50%),linear-gradient(141.27deg,#0046d100 50%,#0046d126);
}